.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100svh;
    min-width: 375px;
    width:100vw;
    max-width: 500px;
    background-color: rgb(47, 128, 207);
    

}


// @media (min-width: 1024px) {
//     .mainContainer {
//         .mainContent {
//             .logo {
//                 width:50%;
//             }
//         }
//     }

// }