.tab {
  height: 60px;
  width: 60px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .icon {
    color: gray;
  }

  span {
    color: gray;
    font-weight: 500;
  }

  &.active {
    .icon {
      color: rgb(21, 98, 166);
    }
    
    span {
      color: rgb(21, 98, 166);
    }
  }
}