.headerContainer {
    background-color: rgb(47, 128, 207);
    height: 12%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
        width:100%;
        height:250px;
    }


    
}
