.currencyInfoWrapper {
    background-color: rgb(15, 99, 184);
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .innerWrapper {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
        background-color: white;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .mainText {
            margin-top: 10px;
            font-weight: 400;
            color: black;
            text-align: center;
            padding-bottom: 5px;
        }

        .currencyList {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;





            .currency {

                margin-top: 10px;
                background-color: rgb(234, 234, 234);
                border-radius: 10px;
                display: flex;
                width: 95%;
                align-items: center;


                img {
                    width: 50px;
                    height: 50px;
                }

                p {
                    color: black;


                }

                .currencyValue {
                    margin-left:23%;
                }

                .valueNumber {
                    font-weight: 400;
                    font-size: 0.8rem;


                }
            }
        }
    }


    h2 {
        color: black;
    }
}