.currencyInfoWrapper {
    background-color: rgb(15, 99, 184);
    height: 50%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .innerWrapper {
        margin-bottom: 88px;
        border-radius: 15px;
        background-color: white;
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .mainText {
            font-weight: 400;
            color: black;
            text-align: center;
            padding-bottom: 25px;
        }

        .currencyList {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;





            .currency {

                margin-top: 10px;
                background-color: rgb(234, 234, 234);
                border-radius: 10px;
                display: flex;
                width: 95%;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 50px;
                }

                p {
                    color: black;

                }

                .valueNumber {
                    font-weight: 400;
                    font-size: 0.8rem;
                    margin-right: 10px;
                }
            }
        }
    }


    h2 {
        color: black;
    }
}