.currencyInfoWrapper {
    background-color: rgb(15, 99, 184);
    height: 50%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .innerWrapper {
        margin-top: 20px;
        margin-bottom: 88px;
        border-radius: 15px;
        background-color: white;
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-items: center;

        .mainText {
            margin-top: 15px;
            color: black;
            text-align: center;
        }

        .currencyList {
            display:flex;
            flex-direction: column;
            align-items: center;




            .usdt {

                margin-top: 30px;
                display: grid;
                grid-template-columns: 50px 50px 50px;
                width:250px;
                align-items: center;
                justify-content: start;
                gap:50px;

                img {
                    width: 50px;
                }

                p {
                    color: black;
                }
            }
        }
    }


    h2 {
        color: black;
    }
}